* {
	font-family: Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

html {
	color: #CCC;
	background-color: #222;
	min-height: 100% !important;
	height: 100%;
}

body {
	min-height: 100% !important;
	height: 100%;
}

#map {
	height: 100%;
}